.ghc/
*.class
*.idea
.vscode
.cargo/
Vscodium/
.ipython/
.pylint.d/
.kite/
.codota-id
.tooling/
.mume/
.vscode-oss/
.dropbox-dist/
Desktop/
.python_history
.Xauthority
.bash_history
.cache/
.config/
.dmrc
.dropbox/
.gitconfig
.gnupg/
.gtkrc-2.0
.hoogle/
.icons/
.java/
.jdks/
.lesshst
.local/
.pki/
.screenlayout/
.ssh/
.thumbnails/
.vim/
.viminfo
.xinitrc
.xsession-errors
.xsession-errors.old
CLionProjects/
Downloads/
Dropbox/
IdeaProjects/
Music/
Pictures/
Documents/
Prog/
.m2/
.openjfx/
.npm/
Videos/
BFH/
